<h1>User homepage</h1>

<a href="/post/new" class="button">New Post</a>

<ul>
  <% @posts.each do |post| %>
    <li><a href="/post/<%= post.id %>"><%= post.title %> (<%= time_created(post) %> ago)</a> <a href= "/comment/new/<%= post.id %>">Comments</a> :
      <a href="/post/edit/<%= post.id %>" class="button">Edit</a> :
      <a href="/post/delete/<%= post.id %>" class="button">Delete</a>
    </li>
  <% end %>
</ul>

<p><a href="/user/comments">Comments</a></p>

<p><a href="/">My Submissions</a></p>
