<h1>Home</h1>

<% if !current_user? %>
  <a href="/user/signup" class="button">Sign Up!</a>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li><a href="/post/<%= post.id %>"><%= post.title %></a>
      <% if !post.url.empty? %>
        (<%= post.url %>)
      <% end %>
    </li>
    <li class="time-created"> by: <%= post.author %> (<%= time_created(post) %> ago)
      <a href="/comment/new/<%= post.id %>">Comment</a>
    </li>
  <% end %>
</ul>
